<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="css/style.css" media="all" />
	<link rel="stylesheet" href="css/dropzone.css" media="all" />

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.wysiwyg.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/cycle.js"></script>
	<script src="js/jquery.checkbox.min.js"></script>
	<script src="js/jquery.tablesorter.min.js"></script>
	<script src="js/highcharts.js"></script>
	<script src="js/highcharts-3d.js"></script>
	<script src="js/modules/exporting.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script type="js/atlas.js"></script>
	<script type="arbor.js"></script>
	<script src="js/dropzone.js"></script>
	<script src="js/basic-info.js"></script>

 	{% block head %}{% endblock %}
</head>
<body>
<header class="main">
	<h1><strong>Falcon微博大数据分析系统</strong></h1>
	<input type="text" value="search" />
</header>
<section class="user">
	<div class="profile-img">
		<p><img  id="user" src="images/pso.jpg" halt="" eight="40" width="40" onclick="window.location.href='userboard'" />Welcome back Andos he</p>
	</div>
	<div class="buttons">
		<a href="userboard">username</a>
		<span class="button blue" id="logout" onclick="logout()">Logout</span>
	</div>
</section>
</div>
<nav>
	<ul>
		<li id='1'><a href="dashboard"><span class="icon">&#128202;</span>基础信息统计</a></li>
		<li id='2'><a href="files"><span class="icon">&#128101;</span> 热点话题聚类分析</a></li>
		<li id='3'><a href="blog-new"><span class="icon">&#127748;</span> 话题情感倾向性分析</a></li>
		<li id='4'><a href="sensitive"><span class="icon">&#59160;</span> 敏感信息检测 </a></li>
		<li id='5'><a href="topology"><span class="icon">&#128196;</span> 拓扑关系查看 </a></li>
		<li id='6'><a href="page-new"><span class="icon">&#59176;</span> 控制面板 </a></li>
	</ul>
</nav>

{% block body %}{% endblock %}

</body>
</html>
