{% extends "base.html" %}

{% block title %}时间-节点变化分析{% endblock %}
{% block head%}
<script type="text/javascript">
$(document).ready(function(){
	getnodecount();
	$("li#3").addClass('section');
})
function getnodecount(){
    $.getJSON("/ajax/blog_getnodecount/", {"selectinfo":$("select#multiSelect").val()}, function(data) {
        showchart(data, "container");
    }
)}
function showchart(data, container) {
        $("#"+container+"").highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: '安全事件节点数与时间关系图'
            },
            xAxis: {
                categories: data['categories']
            },
            credits: {
                enabled: false
            },
            yAxis: {
                title: {
                    text: 'infected node count'
                },
                labels: {
                    formatter: function() {
                        return this.value
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: '攻击节点',
                data: data['attack_tlist']
    
            }, {
                name: '被攻击节点',
                data: data['dattack_tlist']
            }, {
                name: '路由器',
                data: data['router_tlist']
            }
            ]
        });
    };
</script>
{% endblock %}
{% block body %}
<section class="alert">
	<div class="green">	
		<p>欢迎使用节点时间分析!时间-节点分析模块运算量较大，请稍等</p>
		<span class="close">&#10006;</span>
	</div>
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon">&#127748;</span>
			<hgroup>
				<h1>感染节点-时间关系图</h1>
				<h2>点击右侧下拉菜单选择不同事件id进行查看</h2>
			</hgroup>
			<aside>
              <select id="multiSelect" onchange="getnodecount()">
                
                {% for item in local['count'] %}
                <option>{{item}}</option>
                {% endfor %}
              </select>
			</aside>
		</header>
		<div class="content">
			<div id="dropzone" class="dropzone gallery">
				<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
			</div>
		</div>
	</section>
{% endblock %}