{% extends "base.html" %}

{% block title %}基础信息统计{% endblock%}
{% block head%}
<script type="text/javascript" src="controljs/dashboard.js"></script>
{% endblock %}
{% block body %}
<section class="alert">
  <div class="green"> 
      <p>欢迎使用Falcon分析系统，当前数据库含有{{textcount}}条微博，{{userscount}}条用户信息</p>
    <!-- <span class="close">&#10006;</span> -->
  </div>
</section>
<section class="content">
  <div class="widget-container">
    <section class="widget small">
    <header>
      <span class="icon">&#128200;</span>
      <hgroup>
        <h1>全国（各省）用户性别比例统计</h1>
        <h2>请使用下拉菜单选择</h2>
      </hgroup>
      <aside>
        <select id="multiSelect1" onchange="select_sexinfo()">
          {% for province, name in selectitems %}
          <option name={{province}}>{{name}}</option>
          {% endfor %}
        </select>
      </aside>
    </header>
    <div class="content cycle">
      <div id="container" style="min-width: 250px; height: 300px; margin: 0 auto"></div>
    </div>
    </section>

    <section class="widget" style="width: 65%; float:right">
      <header> 
        <span class="icon">&#128318;</span>
        <hgroup>
          <h1>各市（省）用户性别数量统计</h1>
          <h2>数据总量 &amp; 各数据量</h2>
        </hgroup>
        <aside>
        </aside>
      </header>
      <div class="content">
        <div id="sex_detail" style="min-width: 300px; height: 310px; auto"></div>
      </div>
    </section>
  </div>
  
  <div class="widget-container">
  <section class="widget">
    <header>
      <span class="icon">&#128196;</span>
      <hgroup>
        <h1>全国用户统计</h1>
        <h2>各省用户比例统计</h2>
      </hgroup>
      <aside>
        <select id="multiSelect2" onchange="select_popinfo()">
          {% for province, name in selectitems %}
          <option name={{province}}>{{name}}</option>
          {% endfor %}
        </select>
      </aside>
    </header>
    <div class="content" id="popinfo">
      
    </div>
  </section>
  </div>
</section>
{% endblock %}
