{% extends "base.html" %}

{% block title %}安全事件基础信息统计{% endblock%}
{% block head%}
<script type="text/javascript" src="controljs/dashboard.js"></script>
{% endblock %}
{% block body %}
<section class="alert">
  <div class="green"> 
    <p>欢迎使用安全事件关联分析系统，当前系统含有{{local['length']}}个事件</p>
    <!-- <span class="close">&#10006;</span> -->
  </div>
</section>
<section class="content">
  <div class="widget-container">
    <section class="widget small">
    <header>
      <span class="icon">&#128200;</span>
      <hgroup>
        <h1>事件比例统计</h1>
        <h2>请使用右侧的下拉菜单选择事件id</h2>
      </hgroup>
      <aside>
        <select id="multiSelect1" onchange="select_sexinfo()">
          {% for province, name in selectitems %}
          <option name={{province}}>{{name}}</option>
          {% endfor %}
        </select>
      </aside>
    </header>
    <div class="content cycle">
      <div id="container" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
    </div>
    </section>

    <!-- <section class="widget small">
      <header> 
        <span class="icon">&#128318;</span>
        <hgroup>
          <h1>数据库状态</h1>
          <h2>数据总量 &amp; 各数据量</h2>
        </hgroup>
        <aside>
        </aside>
      </header>
      <div class="content">
        <section class="stats-wrapper">
          <div class="stats">
            <p><span>{{local['Total']}}</span></p>
            <p>数据1总量</p>
          </div>
          <div class="stats">
            <p><span>{{local['Botnet']}}</span></p>
            <p>Botnet数据量</p>
          </div>
        </section>
        <section class="stats-wrapper">
          <div class="stats">
            <p><span>{{local['Worm']}}</span></p>
            <p>Worm数据量</p>
          </div>
          <div class="stats">
            <p><span>{{local['Ddos']}}</span></p>
            <p>Ddos数据量</p>
          </div>
        </section>
      </div>
    </section> -->

    <section class="widget" style="width: 65%; float:right">
      <header> 
        <span class="icon">&#128318;</span>
        <hgroup>
          <h1>数据库状态</h1>
          <h2>数据总量 &amp; 各数据量</h2>
        </hgroup>
        <aside>
        </aside>
      </header>
      <div class="content">
        <div id="sex_detail" style="min-width: 300px; height: 310px; auto"></div>
      </div>
    </section>
  </div>
  
  <div class="widget-container">
  <section class="widget">
    <header>
      <span class="icon">&#128196;</span>
      <hgroup>
        <h1>库存信息表</h1>
        <h2>库存安全事件概略统计</h2>
      </hgroup>
      <aside>
        <select id="multiSelect2" onchange="select_popinfo()">
          {% for province, name in selectitems %}
          <option name={{province}}>{{name}}</option>
          {% endfor %}
        </select>
      </aside>
    </header>
    <div class="content" id="popinfo">
      
    </div>
  </section>
  </div>
</section>
{% endblock %}