{% extends "base.html" %}

{% block title %}情感取向分析{% endblock %}
{% block head%}
<script type="text/javascript" src="controljs/emotion.js"></script>
{% endblock %}
{% block body %}
<section class="alert">
	<div class="green">	
		<p>根据分类算法，得出每条微博的情感取向，统计出总体趋势</p>
		<span class="close">&#10006;</span>
	</div>
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon">&#127748;</span>
			<hgroup>
				<h1>情感取向分析图</h1>
				<h2>点击查看统计数据的具体信息</h2>
			</hgroup>
		</header>
		<div class="content">
				<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		</div>
	</section>
</section>
{% endblock %}