{% extends "base.html" %}

{% block title %}热点话题聚类{% endblock%}
{% block head%}
<script type="text/javascript" src="controljs/cluster.js"></script>
{% endblock %}
{% block body %}
<section class="alert">
	<div class="green">	
		<p>欢迎来到热点话题聚类，海量微博聚类得到以下热门词汇与话题</p>
		<span class="close">&#10006;</span>
	</div>
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon">&#127748;</span>
			<hgroup>
				<h1>热点话题聚类统计图</h1>
			</hgroup>
		</header>
		<div class="content">
				<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		</div>
	</section>
{% endblock %}