<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Retina Dashboard</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="css/style.css" media="all" />
<script src="/js/jquery.min.js"></script>
<script type="text/javascript" src="controljs/user.js"></script>
</head>
<body class="login">
  <section>
    <h1><strong>Begin&nbsp;</strong>your tour</h1>
    <table>
      <tr >
        <td style="min-width:300px;max-width=300px">
        <input type="text" id="email"  placeholder="Email" onblur="in_checkemail()"/>
        </td>
        <td  style="min-width:150px;max-width=150px">
        <div id="checkemail"></div>
        </td>
      </tr>
      <tr>
        <td>
        <input type="password" id="password" placeholder="password" />
        </td>
        <td>
        <div id="checkpasswd"></div>
        </td>
      </tr>
      <tr>
        <td>
        <button  class="blue" onclick="in_verify()">Commit</button>
        </td>
        <td></td>
       </tr>
       <tr>
          <td>
         <a href="register">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="retrieve">Forgot your password?</a>
         </td>
       </tr>
      </table>
  </section>
</body>
</html>