{% extends "base.html" %}
{% block title %}分析结果查看{% endblock %}
{% block head%}
<script type="text/javascript">
$(document).ready(function(){
  $("section#result").hide();
  $("li#6").addClass('section');
  $("div#block").hide();
  $("button").click(function(){
    $(this).parent().children("#block").slideToggle();
  });
});

function showresult(){
  $.getJSON("/ajax/page_showresult/", {"result":$("input#result").val()}, function(data){
    var string;
    for (var i = 0; i < data.length; i++) {
      string += "<tr><th>"+data[i].id+"</th><th>"+data[i].routercount+"</th><th>"+data[i].attackcount+"</th><th>"+data[i].hostcount+"</th><th>"+data[i].datacount+"</th><th>"+data[i].similar+"%</th></tr>"
    };
    $("tbody").html(string);
  })
  $("section#result").show();
}
</script>
{% endblock %}
{% block body %}
<section class="alert">
  <div class="green"> 
    <p>安全事件关联分析测试模块分析运算量十分巨大，请耐心等待分析结果</p>
    <span class="close">&#10006;</span>
  </div>
</section>
<section class="content">
  <section class="widget">
    <header>
      <span class="icon">&#59168;</span>
      <hgroup>
        <h1>关联分析测试</h1>
        <h2>请按照要求提交分析请求</h2>
      </hgroup>
      <aside>
      </aside>
    </header>
  <div class="content no-padding timeline">
           <div class="tl-post comments">
                       <button type="button" class="btn btn-default btn-lg">Large button</button>
              <div class="null" id="block">
                <br></br>
                <div class="controls controls-row">
                  <span class="span8" >
                  <div class="progress">
                    <div class="bar" style="width: 60%;"></div>
                  </div>
                </span>
                  <span class="span2">
                    <span class="label">Default</span>
                  </span>
                </div>
              </div>
          </div>
           <div class="tl-post comments">
                       <button type="button" class="btn btn-default btn-lg">Large button</button>
              <div id="block">
              <br></br>
              <div class="controls controls-row">
      <span class="span8" >
      <div class="progress">
        <div class="bar" style="width: 60%;"></div>
      </div>
    </span>
      <span class="span2">
        <span class="label">Default</span>
      </span>
    </div>
    </div>
          </div>
           <div class="tl-post comments">
                       <button type="button" class="btn btn-default btn-lg">Large button</button>
              <div id="block">
              <br></br>
              <div class="controls controls-row">
      <span class="span8" >
      <div class="progress">
        <div class="bar" style="width: 60%;"></div>
      </div>
    </span>
      <span class="span2">
        <span class="label">Default</span>
      </span>
    </div>
    </div>
          </div>
           <div class="tl-post comments">
                       <button type="button" class="btn btn-default btn-lg">Large button</button>
              <div id="block">
              <br></br>
              <div class="controls controls-row">
      <span class="span8" >
      <div class="progress">
        <div class="bar" style="width: 60%;"></div>
      </div>
    </span>
      <span class="span2">
        <span class="label">Default</span>
      </span>
    </div>
    </div>
          </div>
  </div>
  </section>
  <section id="result" class="widget">
    <header>
      <span class="icon">&#127748;</span>
      <hgroup>
        <h1>分析结果报告</h1>
      </hgroup>
      <aside>
      </aside>
    </header>
    <div class="content">
      <table id="myTable" border="0" width="100">
      <thead>
        <tr>
          <th>事件id</th>
          <th>路由个数</th>
          <th>攻击节点数</th>
          <th>被感染主机数</th>
          <th>数据发送量</th>
          <th>关联分析自测准确度</th>
        </tr>
      </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </section>
</section>


{% endblock %}