<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>Retina Dashboard</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="css/style.css" media="all" />
<script src="public/js/jquery.min.js"></script>
<script type="text/javascript">
 function check(){
    var pwd = $("#pwd").val();
    if (pwd=="" || pwd.length<6) {
      var msg = "Please enter the 6 digit password";
      alert(msg);
    }
  }
  function verify(){
    var pwd2 = $("#pwd2").val();
    if(pwd2 != pwd){
      var email = $("#email").val();
      alert("Different  with first enter!")
    }else{
      $.getJSON("/ajax/dashboard_select_sexinfo/",{"email":email,"password":pwd2},function(result){
      alert(result);
      }
    }
}
</script>>
</head>
<body class="login">
	<section>
		<h1><strong>Begin&nbsp</strong>your tour</h1>
		<form method="link" action="dashboard">
			<input type="text" id="email" value="Email" />
			<input type="password" id="pwd" placeholder="password" onblur="check()" />
			<input type="password"  id="pwd2" placeholder="password again" onblur="verify()" />
			<button type="blue" class="blue">Commit</button>
		</form>
	</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript">
// Page load delay by Curtis Henson - http://curtishenson.com/articles/quick-tip-delay-page-loading-with-jquery/
$(function(){
	$('.login button').click(function(e){ 
		// Get the url of the link 
		var toLoad = $(this).attr('href');  
 
		// Do some stuff 
		$(this).addClass("loading"); 
 
			// Stop doing stuff  
			// Wait 700ms before loading the url 
			setTimeout(function(){window.location = toLoad}, 10000);	  
 
		// Don't let the link do its natural thing 
		e.preventDefault
	});
	
	$('input').each(function() {

       var default_value = this.value;

       $(this).focus(function(){
               if(this.value == default_value) {
                       this.value = '';
               }
       });

       $(this).blur(function(){
               if(this.value == '') {
                       this.value = default_value;
               }
       });

});
});
</script>
</body>
</html>