<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Retina Dashboard</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="css/style.css" media="all" />
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
 function checkeuser(id){
    if(id=="email"){
      email=$("#email").val();
      if(email==""){
        $('div#checkemail').html("<span style=\"color:white\">email can't be empty</span>");
      }else{
        $('div#checkemail').html("<span style=\"color:white\">correct form</span>");
      }
    }else if (id=="name") {
      name=$("#name").val();
      if(name==""){
        $('div#checkemail').html("<span style=\"color:white\">name can't be empty</span>");
      }else{
        $('div#checkemail').html("<span style=\"color:white\">correct form</span>");
      }
    }
}

  function checkpasswd(id){
    if(id=="old"){    
      oldpwd=$("#old").val();
      $.getJSON("ajax/pwd_vertify",{"email":email,"password":oldpwd},function(data){
        if(data["result"]==1){
          $('div#old').html("<span style=\"color:white\">Wrong password</span>");
      }else{
          $('div#old').html("<span style=\"color:white\">Correct password</span>");
          }
        });
    }
    else if(id=="new"){
        newpwd=$("#new").val();
        if(newpwd=="" || newpwd.length<6 || newpwd==oldpwd){
          $('div#new').html("<span style=\"color:white\">Wrong form</span>");
        }else{
          $("div#new").html("<span style=\"color:white\">Correct form</span>");
        }
      }
    else if(id=="again"){
      newpwd2=$("#again").val();
      if(newpwd2 != newpwd){
        $('div#checkpasswd2').html("<span style=\"color:white\">Different with thr enter before</span>");}
      else{
          $('div#checkpasswd2').html("<span style=\"color:white\">Accord with before </span>");
        }
     }
  }

    function verify(){
    password2=$("#password2").val();
    load = $(this).attr("href");
    if(password2 != password){
      $('div#checkpasswd2').html("<span style=\"color:white\">Different with enter before </span>");
    }
    else{
      $('div#checkpasswd2').html("<span style=\"color:white\">Right! </span>");
      $.getJSON("/ajax/user_register/", {"email":email,"password":password}, function(data){
        if(data["result"] == 1){
          alert("Regiser faild!");
        }else{
          alert("Regiser sucess! Begin you tour......");
          window.location.href="index";
        }
        });
    }
  }

</script>>
</head>
<body class="login">
  <section>
    <h1><strong>Begin&nbsp</strong>your tour</h1>
    <table>
      <tr >
        <td style="min-width:300px;max-width=300px">
          <input type="text" id="email"  placeholder="Email" onblur="checkeuser()"/>
        </td>
        <td  style="min-width:150px;max-width=150px">
          <div id="checkemail"></div>
        </td>
      </tr>
      <tr>
          <td>
            <input type="text" id="name" placeholder="name" onblur="checkeuser()" />
          </td>
          <td>
            <div id="checkname"></div>
          </td>
        </tr>
        <tr>
          <td>
            <input type="password" id="old" placeholder="old password" onblur="checkpasswd(id)" />
          </td>
          <td>
            <div id="oldcheck"></div>
          </td>
        </tr>
      <tr>
        <td>
          <input type="password" id="new" placeholder="new password " onblur="checkpasswd(id)" />
        </td>
        <td>
          <div id="newcheck"></div>
        </td>
      </tr>
      <tr>
          <td>
            <input type="password" id="again" placeholder="password again" onblur="checkpasswd(id)" />
          </td>
          <td>
            <div id="checkpasswd2"></div>
          </td>
        </tr>
        <tr>
          <td>
            <button  class="blue"  onclick="verify()" href="index">Commit</button>
          </td>
          <td></td>
       </tr>
      </table>
  </section>
</body>
</html>