<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Retina Dashboard</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="css/style.css" media="all" />
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">

</script>>
</head>
<body class="login">
  <section>
    <h1><strong>Personal&nbsp;</strong>setting</h1>
    <table>
      <tr>
          <td  style="min-width:300px;max-width=300px">
            <input type="text" id="name" placeholder="name" onblur="user_checkname()" />
          </td>
          <td  style="min-width:150px;max-width=150px">
            <div id="checkname"></div>
          </td>
        </tr>
        <tr>
          <td>
            <input type="password" id="old" placeholder="old password" onblur="user_checkpasswd(id)" />
          </td>
          <td>
            <div id="oldcheck"></div>
          </td>
        </tr>
      <tr>
        <td>
          <input type="password" id="new" placeholder="new password " onblur="user_checkpasswd(id)" />
        </td>
        <td>
          <div id="newcheck"></div>
        </td>
      </tr>
      <tr>
          <td>
            <input type="password" id="again" placeholder="password again" onblur="checkpasswd(id)" />
          </td>
          <td>
            <div id="checkpasswd2"></div>
          </td>
        </tr>
        <tr>
          <td>
            <button  class="blue"  onclick="user_verify()" href="index">Commit</button>
          </td>
          <td></td>
       </tr>
      </table>
  </section>
</body>
</html>