{% extends "base.html" %}

{% block title %}分析结果查看{% endblock %}
{% block head%}
<script type="text/javascript">
$(document).ready(function(){
	$("li#4").addClass('section');
	tabledata();
})

function tabledata(){
	$.getJSON("/ajax/user_tabledata/", {}, function(data){
		var string;
		title = "<tr><th>"+data['title'][0]+"</th><th>"+data['title'][1]+"</th><th>"+data['title'][2]+"</th><th>"+data['title'][3]+"</th><th>"+data['title'][4]+"</th><th>"+data['title'][5]+"</th></tr>"
		data = data['tableinfo']
		for (var i = 0; i < data.length; i++) {
			string += "<tr onclick=\"showitem('"+data[i].id+"')\"><th>"+data[i].id+"</th><th>"+data[i].routercount+"</th><th>"+data[i].attackcount+"</th><th>"+data[i].hostcount+"</th><th>"+data[i].datacount+"</th><th>"+data[i].datacount+"</th></tr>"
		};
		$("thead").html(title);
		$("tbody").html(string);
	})
}

function showitem(taskid){
	$.getJSON("/ajax/user_showitem/", {"taskid": taskid}, function(data){
		titlelist = data['title']
		title = "<tr>"
		for (var i = 0; i < titlelist.length; i++) {
			title += "<th>"+titlelist[i]+"</th>"
		};
		title += "</tr>"
		tableinfo = data['tableinfo']
		var string;
		for (var i = 0; i < tableinfo.length; i++) {
			line = tableinfo[i]
			string += "<tr onclick=\"tabledata()\">"
			for (var j = 0; j < line.length; j++) {
				string += "<th>"+line[j]+"</th>"
			};
			string += "</tr>"
		};
		$("thead").html(title);
		$("tbody").html(string);

	})

}
</script>
{% endblock %}
{% block body %}
<section class="alert">
	<div class="green">	
		<p>欢迎查看分析结果列表!点击列进入查看时间变化数据，再次点击返回</p>
		<span class="close">&#10006;</span>
	</div>
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon">&#128196;</span>
			<hgroup>
				<h1>分析结果列表</h1>
				<h2>点击列进入查看时间变化数据，再次点击返回</h2>
			</hgroup>
			<aside>
			</aside>
		</header>
		<div class="content">
			<table id="myTable" border="0" width="100">
				<thead>
					<tr>
						<th>Page title</th>
						<th >Date</th>
						<th>Child pages</th>
						<th>Comments</th>
						<th>Author</th>
					</tr>
				</thead>
					<tbody>
					</tbody>
				</table>
		</div>
	</section>
</section>
{% endblock %}